<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 6/9/2021, 5:28:12 PM
All rights reserved by fal(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crud1.mapper.BackendConfigMapper">
    <select id="getDetailPage" resultType="com.jasmine.crud1.pojo.resp.BackendConfigDetailResp" parameterType="com.jasmine.crud1.pojo.req.GetBackendConfigPageReq">
          select
             t.id,
             t.project_id,
             t.content,
             t.update_time,
             t1.id as project_config_id
          from backend_config t
          left join project_config t1 on  t.project_id = t1.id
          <where>
            <if test="startTime != null">
                  t.update_time >= #{startTime}
            </if>
            <if test="endTime != null">
                  and t.update_time &lt; #{endTime}
            </if>
          </where>
    </select>
</mapper>
