@using @project.Utility
@model @project.Model.@nameListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/common-utils.js?v=19"></script>
<script type="text/javascript">
    var listPageHelper;
     $(()=>{
        listPageHelper= new ListPageHelper("@description","@name");
        listPageHelper.init(true);
     })
    
@js
</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
@filters
@buttons
    </div>
    @RenderPage("~/Views/Shared/PageInfoHidden.cshtml", new { Model.TotalCount })
    </form>
    <div class="list_content" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" nodata="*">
            <thead>
                <tr>
                    @batchSelectLabel
                    @foreach (var item in Model.RenderConfigs)
                    {
                        <th>@item.Label
                        </th>
                    }
                    @operationLabel
                </tr>
            </thead>
            <tbody>
               
             
                @foreach (var item in Model.List)
                {
                    <tr>
                        @batchSelectValue
                       @foreach (var renderItem in Model.RenderConfigs)
                        {
                            <td>@renderItem.ToString(item)
                            </td>
                        }
                        @operationValue
                    </tr>
                }
               
            
            </tbody>
        </table>
        <!-------------------------------------------------------------Paging Info---------------------------------------------------------------------------->
        @RenderPage("~/Views/Shared/PageInfo.cshtml", new { Model.TotalCount })
    </div>
</div>
