@model DMSystem.Model.DmDownScriptItemModel
@using DMSystem.Utility
@using DMSystem.Entity
<script type="text/javascript">
    $(()=>{
        CascaderHelper.bindPlatAgent("#plat2","#agent2");
        var rules =new RuleBuilder()
                       .require([
                         @requiredFields
                        ])
                       .build();

        EditPageHelper.init("/@name/Item",rules);
     })

</script>
<form id="mainForm" method="post">
<input type="hidden" name="__id" value="@Model.Id" />
<table>
@content
</table>
</form>
