/* pl/sql developer, plsqldoc styles */

body
{ 
  font-family: verdana,arial,helvetica,sans-serif;
  background-color : #ececec;
  font-size : 12px;
  font-weight: normal;
  font-style: normal;
  margin-left: 15px;
  margin-top: 25px;
}

a         {color: #333300; text-decoration: underline;}
a:active  {color: #2020c0; text-decoration: underline;}    
a:hover   {color: #4040c0; text-decoration: underline;}
a:visited {color: #101060; text-decoration: underline;} 


/* style for title of document (package ...) */
    
.main_title
{
 font-family: verdana,arial,helvetica,sans-serif;
 font-size : medium;
 color: #992266;
 font-weight: bold;
 margin-bottom : 12px;
}    


/* style for smaller titles (program units, exceptions, ...) */

.sub_title
{
 font-family: verdana,arial,helvetica,sans-serif;
 font-size: medium;
 color: #992266;
 font-weight: normal;
 margin-bottom: 12px;
}    


/* type name in description */

.type_title
{
 font-family: verdana,arial,helvetica,sans-serif;
 font-size: small;
 color: #992266;
 font-weight: bold;
 margin-bottom: 0px;
}    


/* type name in list */

.type_item
{
 font-family: verdana,arial,helvetica,sans-serif;
 font-size: x-small;
 color: #101060;
 font-weight: bold;
 margin-bottom: 0px;
}    

/* 'see also' list title */

.list_title
{ 
 font-family: verdana,arial,helvetica,sans-serif;
 font-size: small;
 color: #301080;
 font-weight: bold;
 font-style: normal;
 margin-bottom: 0px;
}


/* 'see also' list item description */
/* specific style can be specified for the different groups like usage, parameter, ets */
/* with a .list_item_[group] tag like .list_item_usage                                 */                  

.list_item
{ 
 font-family: verdana,arial,helvetica,sans-serif;
 font-size: x-small;
 color: #101060;
 font-weight: bold;
 margin-bottom: 0px;
}

       	
/* description */
/* specific style can be specified for the different groups like usage, parameter, ets */
/* with a .desc_text_[group] tag like .desc_text_usage                                 */                  

.desc_text
{ 
 font-family: verdana,arial,helvetica,sans-serif;
 font-size: x-small;
 color: #101060;
 font-weight: normal;
 margin-bottom: 0px;
}


/* formatted text */

.decl_text
{ 
 font-family: courier;
 font-size: x-small;
 color: #101080;
 font-weight: normal;
 margin-bottom : 0px;
}


/* table that holds the title of the document */

.main_table
{
 font-family: verdana,arial,tahoma,helvetica,sans-serif;
 font-size: x-small;
 font-weight: normal;
 font-style: normal;
 background-color: #e0e0e0;
 width: 100%;
}


/* table that holds program units list */

.sub_table
{
 font-family: verdana,arial,tahoma,helvetica,sans-serif;
 font-size: x-small;
 font-weight: normal;
 font-style: normal;
 background-color: #e8e8e8;
 valign: "top";
 width: 100%;
}

   
/* table that holds the see also list */

.list_table
{
 font-family: verdana,arial,tahoma,helvetica,sans-serif;
 font-size: x-small;
 font-weight: normal;
 font-style: normal;
 background-color: #ececec;
 width: 100%;
}


/* table that holds the see also list */

.simple_table
{
 font-family: verdana,arial,tahoma,helvetica,sans-serif;
 font-size: x-small;
 font-weight: normal;
 font-style: normal;
}