<?xml version="1.0" encoding="utf-8" ?>
<config>
  <table name="@table.name">
    <fields>
      @fields
    </fields>
  </table>
  <template>
    <item name="getList">
      <sql>
        <![CDATA[
          SELETC t.* FROM
                      (SELECT RID
                          FROM (SELECT R.RID, ROWNUM LINENUM
                                    FROM (SELECT t.rowid RID
                                          FROM  @name t
                                          WHERE 
                                             1=1
                                             {&@t.CreateTime >= to_date($ST,'YYYY-MM-DD')}
                                             {&@t.CreateTime < to_date($ET,'YYYY-MM-DD')}
@filters
                                   ORDER BY t.CreateTime DESC) R
                                   WHERE ROWNUM <= { :PS} * { :PI})
                           WHERE LINENUM > { :PS} * ({ :PI} - 1)) tab
                   inner join @name t on tab.rid = t.rowid
        ]]>
      </sql>
    </item>
    <item name="getCount">
      <sql>
        <![CDATA[
          SELECT COUNT(1) FROM @name  t  WHERE 
                                             1=1
@filters
                                             {&@t.CreateTime >= to_date($ST,'YYYY-MM-DD')}
                                             {&@t.CreateTime < to_date($ET,'YYYY-MM-DD')}
        ]]>
      </sql>
    </item>
  </template>
</config>